<!DOCTYPE html>
<html>
<head>
	<title>Projeto jogar dados</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>
	<main>



		<div class="container col-12 col-sm-8 col-md-6 bg-light p-2 text-center">

		<h1>Projeto Jogar Dados</h1>

		<p>Clique no botão  abaixo para iniciar o jogo</p>

		<button class="btn btn-success" type ="button" id ="buttonComecar">Começar</button>
	</div>
	</main>

</body>

<script src='js/jquery-3.4.1.min.js'></script>

<script type="text/javascript">

    $(document).ready(function(){
	$('#buttonComecar').click(function(){
 	
 	location.href = 'iniciar';

 })

})

</script>
</html>